body {
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    background: #E3D5CA;
    color: #333;

}

/* topo */
.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #d5bdaf;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.logo img {
    height: 60px;
}

.nav a {
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
    color: #333;
}

.nav a:hover {
    color: #0077b6;
}

/* área principal */
.area-form {
    width: 100%;
    max-width: 480px;
    margin: 40px auto;
    text-align: center;
}

/* título */
.area-form h1 {
    font-size: 26px;
    margin-bottom: 25px;
}

.form-simples {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0 15px;
}

.form-simples label {
    text-align: left;
    font-weight: 600;
}

.form-simples input {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #b9aca4;
    background: #fff;
    font-size: 15px;
}

/* botão */
.form-simples button {
    margin-top: 10px;
    padding: 12px;
    border: none;
    background: #556c78;
    color: #fff;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}

.form-simples button:hover {
    background: #4a4e69;
}

/* rodapé */
.rodape {
    margin-top: 40px;
    padding: 20px;
    text-align: center;
    background: #6b8490;
}



html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Aqui você coloca a classe da ÁREA PRINCIPAL da página */
.area-form {
    flex: 1;
}

.rodape {
    margin-top: auto;
}