html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #E3D5CA;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* O main vai ocupar o espaço e empurrar o rodapé */
.usuario-container {
    flex: 1;
    padding: 50px;
}
/* ================================================== */


.cabecalho {
    background-color: #D5BDAF;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.logo img {
    height: 50px;
}

.menu a {
    margin-left: 20px;
    text-decoration: none;
    color: rgb(30, 30, 30);
    font-weight: bold;
}

.menu a:hover {
    color: #eee;
}

.titulo {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
}

.perfil-completo {
    display: flex;
    gap: 40px;
    background-color: #e3d5ca;
    padding: 20px;
    margin: 30px;
    border-radius: 10px;
}

.lado-esquerdo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.foto-perfil {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid black;
}

.botao-editar {
    padding: 8px 16px;
    border: 1px solid black;
    background-color: #f5e3d0;
    cursor: pointer;
}

.lado-direito {
    flex: 1;
}

.lado-direito h2 {
    margin-top: 0;
}

.lado-direito p {
    margin: 8px 0;
}

.lado-direito textarea {
    width: 50%;
    margin-top: 15px;
    padding: 10px;
    border: 1px solid #000;
    background-color: #EDEDE9;
    resize: none;
    font-family: inherit;
}

.botoes {
    margin: 20px 0;
}

.btn {
    display: inline-block;
    background: #6b8490;
    color: #fff;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

.btn:hover {
    background: #4a4e69;
}

.rodape {
    background-color: #6b8490;
    color: #393541;
    text-align: center;
    padding: 20px 10px;
    font-size: 14px;
}

.rodape-conteudo p {
    margin: auto;
    line-height: 1.5;
}

.redes-sociais {
    margin: 10px 0;
}

.redes-sociais img {
    width: 20px;
    height: auto;
    margin: 0 8px;
    vertical-align: middle;
}

.redes-sociais a:hover {
    transform: scale(1.2);
}