body {
    height: 100dvh;
    justify-content: space-between;
    display: flex;
    flex-direction: column;

    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    color: #333;
}


.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #d5bdaf;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.logo img {
    height: 60px;
}

.nav a {
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
    color: #333;
}

.nav a:hover {
    color: #0077b6;
}


.main {
    display: flex;
    justify-content: center;
    padding: 40px 20px;
    background-color: #E3D5CA;
    display: flex;
    height: 100vh;

}

.box {
    background: #E3D5CA;
    width: 100%;
    max-width: 900px;
    padding: 30px;
    border-radius: 12px;
}


.tabs {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 25px;
}

.tabs button {
    padding: 10px 25px;
    background: #e6e6e6;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.tabs button:hover {
    background: #cccccc;
}


.form {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.col,
.col2 {
    flex: 1;
    min-width: 250px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #bbb;
    border-radius: 8px;
    margin-bottom: 15px;
    resize: none;
}

textarea {
    height: 180px;
}

.termos {
    text-align: right;
    font-size: 14px;
    color: #0077b6;
    cursor: pointer;
}


.btn-pub {
    margin-top: 20px;
    background: #6b8490;
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
}

.btn-pub:hover {
    background: #4a4e69;
}

.plc {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.rodape {
    background: #6b8490;
    color: #fff;
    text-align: center;
    padding: 30px 15px;
}

.social img {
    width: 25px;
    margin: 0 8px;
}