html, body {
    height: 100dvh;
    justify-content: space-between;
    display: flex;
    flex-direction: column;

    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    color: #333;
}

/* Cabeçalho */
.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #d5bdaf;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.topo .logo img {
    height: 60px;
}


.menu {
    margin-top: 10px;
}

.menu a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.menu a:hover {
    color: #007bff;
}

main {
    padding: 40px 20px;
    background-color: #E3D5CA;
    flex: 1;
}

/* Conteúdo */
.conteudo {
    padding: 20px;
}

/* Cards */
.lista-relatos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.cartao {
    width: 196px;
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.cartao img {
    width: 100%;
    border-radius: 10px;
}

.cartao p {
    margin-top: 10px;
    color: #444;
    text-align: justify;
}

/* Botão de novo relato */
.botao-novo {
    display: block;
    width: 304px;
    margin: 30px auto;
    padding: 12px;
    background: #6b8490;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    font-size: 16px;
    transition: 0.3s;
}

.botao-novo:hover {
    background: #4a4e69;
}

/* Rodapé */
.rodape {
    background-color: #6b8490;
    padding: 20px;
    text-align: center;
    margin-top: auto;
    /* <-- SEGUNDA PARTE DO AJUSTE */
}

.rodape-conteudo p {
    margin: 4px 0;
}

.redes-sociais img {
    width: 24px;
    margin: 0 5px;
}

.redes-sociais {
    margin: 8px 0;
}