<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuário</title>
    <link rel="stylesheet" href="/css/cadastro.css">
</head>

<body>

    <header class="topo">
        <div class="logo">
            <a href="../view/inicio.html">
                <img src="/imgs/banner-logo/CONECTA+.png" alt="Logo Conecta+">
            </a>
        </div>

        <nav class="nav">
            <a href="../view/inicio.html">Início</a>
            <a href="../view/sobreNos.html">Sobre nós</a>
            <a href="../view/login.html">Login</a>
        </nav>
    </header>

    <main class="area-form">

        <h1>Cadastro de Usuário</h1>

        <form class="form-simples">

            <label>Nome</label>
            <input type="text" placeholder="Digite seu nome completo">

            <label>Bairro</label>
            <input type="text" placeholder="Digite seu bairro">

            <label>Email</label>
            <input type="email" placeholder="exemplo@email.com">

            <label>Senha</label>
            <input type="password" placeholder="Crie uma senha">

            <button type="submit">Cadastrar</button>
        </form>

    </main>

    <footer class="rodape">
        <p>© 2025 Conecta+. Todos os direitos reservados.</p>
    </footer>


    <script>
        
        document.getElementById("form-simples").addEventListener("submit", function(event) {
            const nome = document.getElementById("nome").value;
            const idade = document.getElementById("bairro").value;
            const email = document.getElementById("email").value;
            const senha = document.getElementById("senha").value;
        
            const url = "http://localhost:3000/createUser";
        
            fetch(url, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    nome: nome,
                    idade: bairro,
                    email: email,
                    senha: senha
                })
            })
            .then(response => response.json())
            .then(data => {
                alert("Usuário cadastrado com sucesso!");
            })
            .catch(error => console.log("Error: ", error));
            
        });

        // function verificarURL () {
        //     let url = window.location.href;

        //     if(url === "login")
                
        // }

        </script>
</body>

</html>