<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meus Relatos</title>
    <link rel="stylesheet" href="/css/relatos.css">
</head>

<body>

    <header class="topo">
        <div class="logo">
            <a href="../view/inicio.html">
                <img src="/imgs/banner-logo/CONECTA+.png" alt="Logo Conecta+">
            </a>
        </div>

        <h1>Meus relatos</h1>

        <nav class="menu">
            <a href="../view/inicio.html">Início</a>
            <a href="../view/">Meu perfil</a>
            <a href="../view/">Comunidade</a>
        </nav>
    </header>

    <main class="conteudo">

        <div class="lista-relatos">

            <div class="cartao">
                <img src="/imgs/img-onibus.png" alt="Imagem ônibus">
                <p>Peguei um ônibus Costa do Moçambique no terminal tican por volta das 20:00, e ele me levou até São
                    João do Rio Vermelho tive que andar todo caminho de volta para minha casa.</p>
            </div>

            <div class="cartao">
                <img src="/imgs/img-rua.png" alt="Imagem rua">
                <p>Algumas áreas do Rio Vermelho são bastante perigosas. Eu morava no Ingleses do Rio Vermelho, e na
                    minha rua havia um ponto de venda de drogas, o que fazia com que as pessoas olhassem com
                    desconfiança e receio ao passar por ali.</p>
            </div>

            <div class="cartao">
                <img src="/imgs/img-alagamento.png" alt="Imagem alagamento">
                <p>As ruas são muito estreitas e há pouca iluminação, o que causa uma sensação de insegurança ao
                    caminhar por elas.</p>
            </div>
        </div>

        <a class="botao-novo" href="/pag-relatos/index.html">Novo relato</a>

    </main>

    <footer class="rodape">
        <p><strong>Endereço:</strong> SC-401, 3730 - Saco Grande, Florianópolis - SC, 88032-005</p>
        <p><strong>Telefone:</strong> (48) 3239-5801</p>
        <p><strong>© 2025 Conecta+. Todos os direitos reservados.</strong></p>
    </footer>

</body>

</html>